## LAB-5
### Name: Harshitha Anishetty
### StudenID: 8903318

In [318]:
from sklearn.datasets import load_diabetes
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.model_selection import cross_val_score
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
import numpy as np

#### Loading the datasets

In [319]:
# load diabetes dataset
Xdata, ydata = load_diabetes(as_frame=True, scaled=False, return_X_y=True)
Xdata

      age  sex   bmi      bp     s1     s2    s3    s4      s5     s6
0    59.0  2.0  32.1  101.00  157.0   93.2  38.0  4.00  4.8598   87.0
1    48.0  1.0  21.6   87.00  183.0  103.2  70.0  3.00  3.8918   69.0
2    72.0  2.0  30.5   93.00  156.0   93.6  41.0  4.00  4.6728   85.0
3    24.0  1.0  25.3   84.00  198.0  131.4  40.0  5.00  4.8903   89.0
4    50.0  1.0  23.0  101.00  192.0  125.4  52.0  4.00  4.2905   80.0
..    ...  ...   ...     ...    ...    ...   ...   ...     ...    ...
437  60.0  2.0  28.2  112.00  185.0  113.8  42.0  4.00  4.9836   93.0
438  47.0  2.0  24.9   75.00  225.0  166.0  42.0  5.00  4.4427  102.0
439  60.0  2.0  24.9   99.67  162.0  106.6  43.0  3.77  4.1271   95.0
440  36.0  1.0  30.0   95.00  201.0  125.2  42.0  4.79  5.1299   85.0
441  36.0  1.0  19.6   71.00  250.0  133.2  97.0  3.00  4.5951   92.0

[442 rows x 10 columns]

### 1. Utilize the diabetes dataset from lab 4. Perform cross-validation on nine polynomial models, ranging from degree 0 to 8.

In [320]:
degrees = range(9)
results = []

for degree in degrees:
    poly_features = PolynomialFeatures(degree=degree)
    X_poly = poly_features.fit_transform(Xdata)

    model = LinearRegression()
    scores = cross_val_score(model, X_poly, ydata, cv=5, scoring='r2')
    mean_r2 = np.mean(scores)
    std_r2 = np.std(scores)

    scores_mae = cross_val_score(
        model, X_poly, ydata, cv=5, scoring='neg_mean_absolute_error')
    mean_mae = -np.mean(scores_mae)
    std_mae = np.std(scores_mae)

    results.append((degree, mean_r2, std_r2, mean_mae, std_mae))

### 2. Construct a table summarizing the cross-validation results. Each model should have a separate row in the table. Include the R-Squared and Mean Absolute Error (MAE) metrics for each model. Calculate the mean value and standard deviation of these metrics from the cross-validation. Include both values.

In [321]:

#cross validation results
results_table = pd.DataFrame(results, columns=[
                             'Degree', 'R-Squared (Mean)', 'R-Squared (Std)', 'MAE (Mean)', 'MAE (Std)'])

results_table

   Degree  R-Squared (Mean)  R-Squared (Std)   MAE (Mean)   MAE (Std)
0       0         -0.027506         0.036772    66.045624    3.474660
1       1          0.482316         0.049269    44.276499    2.100110
2       2         -1.108849         1.658661    72.322249   22.655922
3       3       -203.419417       225.878361   342.052260  142.438464
4       4       -571.083108       369.891883   657.260477  159.475902
5       5       -436.856887       379.100423   562.993636   59.917202
6       6      -1694.222101      2629.834958   742.589052  190.836052
7       7      -5530.894075      9518.586954  1032.681725  393.439617
8       8     -16076.255117     28049.952579  1475.658532  706.280274

In [322]:
# Calculate the mean and standard deviation of the metrics

mean_r2_all = results_table['R-Squared (Mean)'].mean()
std_r2_all = results_table['R-Squared (Mean)'].std()
mean_mae_all = results_table['MAE (Mean)'].mean()
std_mae_all = results_table['MAE (Mean)'].std()


summary = pd.DataFrame(
    {'Metric': [ 'R-Squared', 'MAE'],
     'Mean': [mean_r2_all, mean_mae_all],
     'Standard Deviation': [ std_r2_all, std_mae_all]
     }
)

summary

      Metric         Mean  Standard Deviation
0  R-Squared -2723.709416         5311.522620
1        MAE   555.097784          487.306636

### 3. Identification of the Best Model: Identify the model that exhibits the highest performance based on the R-Squared and MAE metrics. Provide an explanation for choosing this specific model.

In [323]:
best_model_r2 = results_table.loc[results_table['R-Squared (Mean)'].idxmax()]
best_model_mae = results_table.loc[results_table['MAE (Mean)'].idxmin()]

print(f"\nBest model based on R-Squared: {best_model_r2}")
print(f"Best model based on MAE: {best_model_mae}")

Best model based on R-Squared: Degree               1.000000
R-Squared (Mean)     0.482316
R-Squared (Std)      0.049269
MAE (Mean)          44.276499
MAE (Std)            2.100110
Name: 1, dtype: float64
Best model based on MAE: Degree               1.000000
R-Squared (Mean)     0.482316
R-Squared (Std)      0.049269
MAE (Mean)          44.276499
MAE (Std)            2.100110
Name: 1, dtype: float64

####  The best model will consists of the highest R-Squared value and the lowest MAE value.
#### Based on the results_table, the models with the highest R-Squared value and the lowest MAE value is the Degree:1